
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Arimo:ital,wght@0,400..700;1,400..700&family=Jim+Nightshade&display=swap');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    overflow-x: clip;
    box-sizing: border-box;
    font-family: "Amarante", serif;
    font-weight: lighter;
    
}

body {
    background: rgba(19, 18, 18, 0.99);
    color: white;
}

/* this is the header styling */

header{
    width: 100vw;
    background: black;
}

.navbar{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 8vh;
    color: rgb(141, 122, 96);
    justify-content: center;
    top: 0;
    align-items: center;
    z-index: 5;
   transition: all 0.8s ease;
   border-bottom: 1px solid transparent;
    animation: head;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
}

.navbar.show{
    border-bottom: 1px solid rgba(212, 185, 138, 0.3);
    background: rgba(19, 18, 18, 0.99) !important;
    backdrop-filter:  blur(50px);
    -webkit-backdrop-filter: blur(50px);
    transition: all 0.8s ease;
}

.navbar a {
    color: white;
    transition: 0.25s;
    padding: 10px 10px;
    align-self: center;
    width: 11.2vw;
    letter-spacing: 1.5px;
}

.navli a.active{
    background: rgb(141, 122, 96);
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
}

.logo {
    width: 7vw;
    align-self: center;
    top: 15%;
    /* height: 5vh; */
    position: absolute;
    justify-items:left;
    left: 5px;
}

.navbar .navli ul {
    display: flex;
}

.navbar .navli ul li {
    margin: 0 20px;
    align-items: center;
}

.navbar .navli ul li .class1 {
    position: absolute;
    border: 1px solid rgb(141, 122, 96);
    border-radius: 5px;
    font-size: 1.1em;
    padding: 10px 10px;
    align-items: center;
    right: 3%;
    top:20px;
    text-transform: uppercase;
    transition: 0.25s;
    width: fit-content;
}

.navli a:hover {
    background: rgb(141, 122, 96);
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
}

.fa-bars {
    font-size: 0.001em;
    color: white;
    display: none;
}

::-webkit-scrollbar{
    display: none;
}


/* slides */


.slide-frame{
    height: 750px;
    width: 100vw;
    transition-duration: 0s;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: slider 20s infinite;
    justify-self: center;
}

@keyframes slider{
    0%{
        background-image: url(Images-logos/de\ hallet\ main.jpg);
    }
    20%{
        background-image: url(Images-logos/IMG_1137.jpg);
    }
    40%{
        background-image: url(Images-logos/IMG_1163.jpg);
    }
    60%{
        background-image: url(Images-logos/IMG_1256.jpg);
    }
    80%{
        background-image: url(Images-logos/IMG_1131.jpg);
    }
    100%{
        background-image: url(Images-logos/IMG_1205.jpg);
    }
}

/* sidemenu style */

.sidemenu{
    background: rgba(29, 28, 28, 0.99);
    top: 0;
    width: 100vw;
    position: fixed;
    text-align: left;
    height: fit-content;
    text-decoration:none;
    transition: 0.5s;
    z-index: 1000;
    font-size: 0.8em;
    right: -101vw;
    border: 1px solid rgb(141, 122, 96);
    border-radius: 10px;
}

.sidemenu.active{
    right: -40vw;
}

.sidemenu a:link{
    margin-left: 1em;
    color: rgb(141, 122, 96);
}

/* .sidemenu a:visited{
    color: rgb(141, 122, 96);
} */

.sidemenu a:active{
    color: white;
}

.sidemenu ul li{
    margin-bottom: 2em;
}

.sidemenu ul li a{
    color: white;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1.5em;
}

.sidemenu ul{
    margin-top: 8em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 999;
}

    /* When menu is active */

.overlay.active {
    opacity: 1;
    pointer-events: all;
}


/* body content style */

.section1 {
    margin-top: 4em;
    margin-bottom: 5em;
    margin-left: 8em;
    margin-right: 8em;
    text-align: center;
    background: none;
    font-size: larger;
    width: 50vw;
    justify-self: center;
}

.section1 p{
    line-height: 1.9;
    background: none;
    font-size: 120%;
}

.grid-container{
    margin-top: 0em;
    background: none;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns:repeat(2, 50vw);
    margin-bottom: 10em;
    text-align: left;
    font-weight: lighter;
}

.grid-container p{
    font-style: normal;
    color: white;
}

.grid-container .grid-item1 {
    /* align-content: center; */
   background: rgba(26, 24, 24, 0.99);
    color: white;
    margin-left: 8em;
}

.grid-container .grid-item2 {
    /* align-content: center; */
    background: rgba(26, 24, 24, 0.99);
    color: white;
    margin-right: 8em;  
    padding-left: 2em; 
    padding-right: 2em;
}

.grid-container .grid-item3 {
    /* align-content: center; */
    background: rgba(26, 24, 24, 0.99);
    color: white;
    margin-left: 8em;  
    padding-left: 2em; 
    padding-right: 2em; 
}

.grid-container .grid-item4 {
    /* align-content: center; */
    background: rgba(26, 24, 24, 0.99);
    color: white;
    margin-right: 8em; 
}

.grid-container .grid-item5 {
    /* align-content: center; */
    background: rgba(26, 24, 24, 0.99);
    color: white;
    margin-left: 8em; 
}

.grid-container .grid-item6 {
    /* align-content: center; */
    background: rgba(26, 24, 24, 0.99);
    color: white;
    margin-right: 8em;  
    padding-left: 2em; 
    padding-right: 2em; 
}

.grid-container .grid-item7 {
    /* align-content: center; */
    background: rgba(26, 24, 24, 0.99);
    color: white;
    margin-left: 8em;  
    padding-left: 2em; 
    padding-right: 2em; 
}

.grid-container .grid-item8 {
    /* align-content: center; */
    background: rgba(26, 24, 24, 0.99);
    color: white;
    margin-right: 8em;   
}


@keyframes appear {
    from {
      opacity: 0;
      scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.grid-container div {
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

h1{
    text-align: left;
    font-size: 200%;
    font-weight: lighter;
    margin-bottom: 5%;
    margin-top: 3%;
}

p{
    font-weight: lighter;
    line-height: 1.8;
    padding-bottom: 1em;
    font-size: 100%;
}


/* style for footer */

.footer-section{
    text-align: center;
    background: rgba(29, 28, 28, 0.99);
    color: white;
    padding-bottom: 1em;
    border-top: 1px solid rgb(141, 122, 96);
    padding-top: 3em;
}

.footer-section .hr{
    width: 100vw;
    justify-self: center;
    margin-top: 2em;
    border: 1px solid rgb(141, 122, 96);
    border-bottom: none;
    margin-bottom: -1em;
    display: none;
}

.footer .slink{
    padding-left: 2rem;
    margin-top: 1rem;
}

 .span{
    color: rgb(141, 122, 96);
    font-size: 0.9em;
    margin-top: 3em;
}

.ftimg {
    width: 7vw;
    vertical-align: middle;
    background: none;
}

.footer{
    bottom: 0px;
    background: rgba(29, 28, 28, 0.99);
    color: white;
    display: grid;
    gap: 10px;
    width: 100vw;
    grid-template-columns:repeat(4, auto);
    margin-left: 3.5em;
}

.footer .footer-item {
    padding: 7px;
    text-align: left;

}

.footer .h3 {
    text-align: left;
    color: rgb(141, 122, 96);
}

.footer a{
    color: white;
}

.footer a:hover{
    color: rgb(141, 122, 96);
}

/* .footer a:visited{
    color: rgb(141, 122, 96);
} */

.footer a:active{
    color: rgb(141, 122, 96);
}

.footer i {
    font-size: 20px;
    color: white;
}

.fa-instagram:hover { 
    color: rgb(141, 122, 96);  
}


.fa-tiktok:hover { 
    color: rgb(141, 122, 96);
}

.fa-tiktok {
    transition: 0.25s;  
}

.fa-instagram {
    transition: 0.25s;  
}

.fa-whatsapp{
    transition: 0.25s;
}

.fa-whatsapp:hover {
    color: rgb(141, 122, 96);
}


/* Responsiveness */

@media (max-width:599px) {

    *{
        text-decoration: none;
        list-style: none;
        overflow-x: clip;
        /* outline: 1px solid red !important; */
        box-sizing: border-box;
        max-width: 100%;
        /* justify-content: center; */
        /* align-items: center; */
        margin-left: auto;
        margin-right: auto;
    }

    ::-webkit-scrollbar{
        display: none;
    }

   .ftimg {
        width: 25vw;
        vertical-align: middle;
        /* height: 15vh; */  
    }

    .footer{
        bottom: 0px;
        background: rgba(29, 28, 28, 0.99);
        color: white;
        display: grid;
        gap: 2em;
        width: 99vw;
        grid-template-columns:repeat(1, auto);
        margin-left: 0em;
        text-align: center;
        justify-items: center;
    }

    .footer .footer-item {
        padding: 7px;
        text-align: center;

    }

    .footer .h3 {
        text-align: center;
        color: rgb(141, 122, 96);
        margin-left: 0;

    }

    .footer a{
        color: white;
    }

    .footer a:hover{
        color: rgb(141, 122, 96);
    }

     .footer i {
        font-size: 100%;
        color: white;
        line-height: 1.5;
    }

    .footer .slink{
        padding-left: 0;
    }

   .footer-section .hr{
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }

     .span{
         width: 90vw;
        font-size: 0.8em;
        justify-self: center;
    }

    .navbar .navli {
        display: none;
    }

   .navbar {
        justify-content: right;
        height: 6.5vh;
        z-index: 1001;
    }

    .navbar a{
        width: 50vw;
    }

    .logo{
        width: 25vw;
        align-self: center;
        margin-left: 0em;
    }

   .fa-bars {
        font-size: 1.5em;
        color: white;
        display: block;
        font-weight: 600;
        position: fixed;
        right: 5%;
        align-self: center;
        justify-self: center;
        margin-top: -0.5em;
    }

    .section1 {
        margin-left: 0em;
        margin-right: 0em;
        margin-top: 4em;
        width: 100vw;
        font-size: 80%;
        background: rgba(19, 18, 18, 0.99);
        font-weight: lighter;
    }

    .grid-container {
        width: 100vw;
        height: 80%;
        grid-template-columns: repeat(1, 100vw);
        border-radius: 30px;
        gap: 0px;
        font-weight: 100;
        font-size: 1em;
    }

    .grid-container .grid-item1 {
        margin-left: 1em;  
        margin-right: 1em; 
        align-content: center;
    }

    .grid-container .grid-item2 {
        margin-left: 1em;  
        margin-right: 1em; 
        align-content: center;
        margin-bottom: 2em;
        border-radius: 0px 0px 3px 3px;
        padding-left: 1em;
        padding-right: 1em;
    }

     .grid-container .grid-item3 {
        margin-left: 1em;  
        margin-right: 1em; 
        align-content: center;
        order: 4;
        margin-bottom: 2em;
        border-radius: 0px 0px 3px 3px;
        padding-left: 1em;
        padding-right: 1em;
    }

     .grid-container .grid-item4 {
        margin-left: 1em;  
        margin-right: 1em; 
        align-content: center;
         order: 3;
    }

     .grid-container .grid-item5 {
        margin-left: 1em;  
        margin-right: 1em; 
        align-content: center;
    }

     .grid-container .grid-item6 {
        margin-left: 1em;  
        margin-right: 1em; 
        align-content: center;
        margin-bottom: 2em;
        border-radius: 0px 0px 3px 3px;
        padding-left: 1em;
        padding-right: 1em;
    }

     .grid-container .grid-item7 {
        margin-left: 1em;  
        margin-right: 1em; 
        align-content: center;
        order: 8;
        border-radius: 0px 0px 3px 3px;
        padding-left: 1em;
        padding-right: 1em;
    }

     .grid-container .grid-item8 {
        margin-left: 1em;  
        margin-right: 1em; 
        align-content: center;
        order: 7;
    }

    .slide-frame{
        height: 500px;
        transition-duration: 0s;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        animation: slider 20s infinite;
        justify-self: center;
    }
    
    .footer-section .hr{
        width: 50vw;
    }
}
