@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Bitcount+Grid+Double:wght@100..900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Festive&family=Gabriela&family=Kings&family=Libre+Caslon+Display&family=Lora:ital,wght@0,400..700;1,400..700&family=Macondo+Swash+Caps&family=Manrope:wght@200..800&family=Mea+Culpa&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Monsieur+La+Doulaise&family=Permanent+Marker&family=Petit+Formal+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    overflow-x: clip;
}

body {
    background: rgba(19, 18, 18, 0.99);
    color: white;
}

/* this is the header styling */

.navbar{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 8vh;
    color: white;
    justify-content: center;
    top: 0;
    align-items: center;
    z-index: 3;
   transition: all 0.8s ease;
   border-bottom: 1px solid transparent;
}

.navbar.show{
    border-bottom: 1px solid rgba(212, 185, 138, 0.3);
    background: rgba(19, 18, 18, 0.99) !important;
    backdrop-filter:  blur(50px);
    -webkit-backdrop-filter: blur(50px);
    transition: all 0.8s ease;
}

.navbar a {
    color: white;
    transition: 0.25s;
    padding: 10px 10px;
    align-self: center;
    width: 11.5vw;
}

.navli a.active{
    background: rgb(141, 122, 96);
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
}

.logo {
    width: 7vw;
    align-self: center;
    top: 15%;
    /* height: 5vh; */
    position: absolute;
    justify-items:left;
    left: 5px;
}

.navbar .navli ul {
    display: flex;
}

.navbar .navli ul li {
    margin: 0 20px;
    align-items: center;
}

.navbar .navli ul li .class1 {
    position: absolute;
    border: 1px solid rgb(141, 122, 96);
    border-radius: 5px;
    font-size: 1.1em;
    padding: 10px 10px;
    align-items: center;
    right: 3%;
    top:20px;
    text-transform: uppercase;
    transition: 0.25s;
    width: fit-content;
}

.navli a:hover {
    background: rgb(141, 122, 96);
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
}

.fa-bars {
    font-size: 0.001em;
    color: white;
    display: none;
}

::-webkit-scrollbar{
    display: none;
}

/* sidemenu style */

.sidemenu{
    background: rgba(29, 28, 28, 0.99);
    top: 0;
    width: 100vw;
    position: fixed;
    text-align: left;
    height: fit-content;
    text-decoration:none;
    transition: 0.5s;
    z-index: 1000;
    font-size: 0.8em;
    right: -101vw;
    border: 1px solid rgb(141, 122, 96);
    border-radius: 10px;
}

.sidemenu.active{
    right: -40vw;
}

.sidemenu a:link{
    margin-left: 1em;
    color: rgb(141, 122, 96);
}

.sidemenu ul li{
    margin-bottom: 2em;
}

/* .sidemenu a:visited{
    color: rgb(141, 122, 96);
} */

.sidemenu a:active{
    color: white;
}

.sidemenu ul li a{
    color: white;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1.5em;
}

.sidemenu ul{
    margin-top: 8em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 999;
}

    /* When menu is active */

.overlay.active {
    opacity: 1;
    pointer-events: all;
}


/* body styling */

h1{
    text-align: center;
    margin-top: 6em;
    text-transform: uppercase;
    font-size: 200%;
    font-weight: lighter;
    font-family: "Bricolage Grotesque", sans-serif;
}

.Grid-container{
    margin-top: 8em;
    width: 100vw;
    height: fit-content;
    display: grid;
    grid-template-columns:repeat(4, 20vw);
    /* margin-bottom: 10em; */
    justify-content: center;
    text-align: center;
    position: relative;
}

.Grid-container .grid-item {
    align-content: center;
    color: white;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 3em;
    line-height: 2;
    position: relative;
    background: none;
    justify-self: center;
}

.grid-item h3{
    font-family: "Bricolage Grotesque", sans-serif;
    margin-left: 0em;
    margin-top: -1em;
    font-size: 100%;
}

h5{
    color: gray;
    font-weight: 400;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 90%;
}

.Grid-container img{
    transition: 0.25s;
    display: block;
    border-radius: 10px;
    border: 2px solid rgb(226, 206, 180);
    width: 16vw;
    height: 40vh;
}

.Grid-container .link a{
    border: 1px solid white;
    font-size: 1.1em;
    padding: 10px 10px;
    align-items: center;
    transition: 0.25s;
    background: rgb(141, 122, 96);
    color: black;
    justify-self: center;
    border-radius: 5px;
}

.Grid-container .link a:hover{
    background: white;
    color: #121212;
}

.Grid-container .link{
    height: 40.5vh;
    width: 16.3vw;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 5;
    background: rgba(19, 18, 18, 0.89);
    transition: 0.25s;
    border-radius: 10px;
}

.Grid-container .link:hover{
    opacity: 1;
}

/* style for footer */

.footer-section{
    text-align: center;
    background: rgba(29, 28, 28, 0.99);
    color: white;
    padding-bottom: 1em;
    font-family: "Bricolage Grotesque", sans-serif;
    border-top: 1px solid rgb(141, 122, 96);
    padding-top: 3em;
}

.footer-section .hr{
    width: 100vw;
    justify-self: center;
    margin-top: 2em;
    border: 1px solid rgb(141, 122, 96);
    border-bottom: none;
    margin-bottom: -1em;
    display: none;
}

.footer .slink{
    padding-left: 2rem;
    margin-top: 1rem;
}

 .span{
    color: rgb(141, 122, 96);
    font-size: 0.9em;
    margin-top: 3em;
}

.ftimg {
    width: 7vw;
    vertical-align: middle;
    background: none;
}

.footer{
    bottom: 0px;
    background: rgba(29, 28, 28, 0.99);
    color: white;
    display: grid;
    gap: 10px;
    width: 100vw;
    grid-template-columns:repeat(4, auto);
    margin-left: 3.5em;
}

.footer .footer-item {
    padding: 7px;
    text-align: left;

}

.footer .h3 {
    text-align: left;
    color: rgb(141, 122, 96);
}

.footer a{
    color: white;
}

.footer a:hover{
    color: rgb(141, 122, 96);
}

/* .footer a:visited{
    color: rgb(141, 122, 96);
} */

.footer a:active{
    color: rgb(141, 122, 96);
}

.footer i {
    font-size: 20px;
    color: white;
}

.fa-instagram:hover { 
    color: rgb(141, 122, 96);  
}


.fa-tiktok:hover { 
    color: rgb(141, 122, 96);
}

.fa-tiktok {
    transition: 0.25s;  
}

.fa-instagram {
    transition: 0.25s;  
}

.fa-whatsapp{
    transition: 0.25s;
}

.fa-whatsapp:hover {
    color: rgb(141, 122, 96);
}



/* Responsiveness */

@media (max-width:599px) {

    *{
        text-decoration: none;
        list-style: none;
        overflow-x: clip;
        /* outline: 1px solid red !important; */
        box-sizing: border-box;
        max-width: 100%;
        /* justify-content: center; */
        /* align-items: center; */
        margin-left: auto;
        margin-right: auto;
    }

   ::-webkit-scrollbar{
        display: none;
    }

   .ftimg {
        width: 25vw;
        vertical-align: middle;
        /* height: 15vh; */  
    }

    .footer{
        bottom: 0px;
        background: rgba(29, 28, 28, 0.99);
        color: white;
        display: grid;
        gap: 2em;
        width: 99vw;
        grid-template-columns:repeat(1, auto);
        margin-left: 0em;
        text-align: center;
        justify-items: center;
    }

    .footer .footer-item {
        padding: 7px;
        text-align: center;

    }

    .footer .h3 {
        text-align: center;
        color: rgb(141, 122, 96);
        margin-left: 0;

    }

    .footer a{
        color: white;
    }

    .footer a:hover{
        color: rgb(141, 122, 96);
    }

    .footer i {
        font-size: 100%;
        color: white;
        line-height: 1.5;
    }

    .footer .slink{
        padding-left: 0;
    }

    .footer-section .hr{
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }

     .span{
         width: 90vw;
        font-size: 0.8em;
        justify-self: center;
    }

    .navbar .navli {
        display: none;
    }

   .navbar {
        justify-content: right;
        height: 6.5vh;
        z-index: 1001;
    }

    .navbar a{
        width: 50vw;
    }

    .logo{
        width: 25vw;
        align-self: center;
        margin-left: 0em;
    }

    .fa-bars {
        font-size: 1.5em;
        color: white;
        display: block;
        font-weight: 600;
        position: fixed;
        right: 5%;
        align-self: center;
        justify-self: center;
        margin-top: -0.5em;
    }


    .Grid-container{
        grid-template-columns:repeat(2, 40vw);
        gap: 1.5em;
    }

    h1{
        font-size: larger;
    }

    .grid-item h3{
        font-size: 80%;
    }

    .grid-item h5{
        font-size: 70%;
    }

    .Grid-container .link{
        height: 72%;
        width: 100%;
        position: absolute;
        opacity: 0;
        z-index: 5;
        background: rgba(19, 18, 18, 0.89);
        transition: 0.25s;
        border-radius: 10px;
    }

    .Grid-container .link a{
        border: 1px solid white;
        font-size: 80%;
        padding: 10px 10px;
        align-self: center;
        transition: 0.25s;
        background: red;
        color: white;
    }

    .Grid-container img{
        transition: 0.25s;
        display: block;
        border-radius: 10px;
        border: 2px solid rgb(226, 206, 180);
        width: 96%;
        height: 25vh;
    }

    h1{
        margin-top: 9em;
        margin-bottom: -2em;
    }

    .footer-section .hr{
        width: 50vw;
    }
}
