*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    overflow-x: clip;
    font-family: "Bricolage Grotesque", sans-serif;
}

body {
    background: rgba(19, 18, 18, 0.99);
    color: white;
}
/* this is the header styling */

header{
    width: 100vw;
    background: black;
}

.navbar {
    position: fixed;
    background: rgba(29, 28, 28, 0.99);
    color: white;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    width: 100vw;
    box-sizing: border-box;
    align-items: center;
    z-index: 3;
    font-family: "Bricolage Grotesque", sans-serif;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgb(141, 122, 96);
    top: 0;
}

.navbar a {
    color: white;
    transition: 0.25s;
    padding: 10px 10px;
    align-self: center;
    width: 11.5vw;
}

.navli a.active{
    background: rgb(141, 122, 96);
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
}

.logo {
    width: 7vw;
    align-self: center;
    top: 15%;
    /* height: 5vh; */
    position: absolute;
    justify-items:left;
    left: 5px;
}

.navbar .navli ul {
    display: flex;
}

.navbar .navli ul li {
    margin: 0 20px;
    align-items: center;
}

.navbar .navli ul li .class1 {
    position: absolute;
    border: 1px solid rgb(141, 122, 96);
    border-radius: 5px;
    font-size: 1.1em;
    padding: 10px 10px;
    align-items: center;
    right: 3%;
    top:20px;
    text-transform: uppercase;
    transition: 0.25s;
    width: fit-content;
}

.navli a:hover {
    background: rgb(141, 122, 96);
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
}

.fa-bars {
    font-size: 0.001em;
    color: white;
    display: none;
}

::-webkit-scrollbar{
    display: none;
}

/* sidemenu style */

.sidemenu{
    background: rgba(29, 28, 28, 0.99);
    top: 0;
    width: 100vw;
    position: fixed;
    text-align: left;
    height: fit-content;
    text-decoration:none;
    transition: 0.5s;
    z-index: 1000;
    font-size: 0.8em;
    right: -101vw;
    border: 1px solid rgb(141, 122, 96);
    border-radius: 10px;
}

.sidemenu.active{
    right: -40vw;
}

.sidemenu a:link{
    margin-left: 1em;
    color: rgb(141, 122, 96);
}

/* .sidemenu a:visited{
    color: rgb(141, 122, 96);
} */

.sidemenu a:active{
    color: white;
}

.sidemenu ul li{
    margin-bottom: 2em;
}

.sidemenu ul li a{
    color: white;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1.5em;
}

.sidemenu ul{
    margin-top: 8em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 999;
}

    /* When menu is active */

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* Drinks body */

.flex-box{
    display: flex;
    height: 62vh;
    width: 100vw;
    align-items: center;
    margin-top: 5em;
    background: rgb(141, 122, 96);
    gap: 1%;
}

.flex-box h1{
    font-size: 400%;
    margin-left: 3%;
    z-index: 2;
    font-weight: lighter;
}

.flex-box hr{
    width: 1px;
    border: 1px solid white;
    height: 50vh;
    border-left: none;
}

.flex-box h4{
    line-height: 1.5;
    z-index: 2;
    font-weight: lighter;
    margin-top: -2%;
}

.flex-box span{
    color: rgb(15, 13, 13);
}

.flex-box img{
    width: 50vw;
    height: 62vh;
    position: absolute;
    right: 0%;
    z-index: 2;
}

.overlayy{
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.4);
    height: 70.5vh;
    width: 100vw;
}

h4{
    text-align: center;
    font-weight: lighter;
    margin-top: 2em;
    /* margin-bottom: 5%; */
    font-size: 100%;
}

.menuu h2{
    text-align: center;
    font-weight: lighter;
    /* color: rgb(141, 122, 96); */
    margin-bottom: 5%;
    margin-top: 5%;
    background: rgb(141, 122, 96);
    width: 85vw;
    justify-self: center;
}

.menuu h3{
    border-bottom: 1px solid rgb(141, 122, 96);
    width: 40vw;
    color: white;
    font-weight: lighter;
    padding-left: 1%;
    margin-bottom: 2%;
    font-size: 140%;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    font-family: "Kings", cursive;
    justify-self: center;
}

.menuu p{
    font-size: 120%;
    color: rgb(141, 122, 96);
    margin-left: 10%;
    line-height: 2;
    margin-bottom: 2%;
    font-family: "Kings", cursive;
}

.menuu span{
    position: absolute;
    left: 80%;
    color: white;
    font-family: "Kings", cursive;
}

/* style for footer */

.footer-section{
    text-align: center;
    background: rgba(29, 28, 28, 0.99);
    color: white;
    padding-bottom: 1em;
    font-family: "Bricolage Grotesque", sans-serif;
    border-top: 1px solid rgb(141, 122, 96);
    padding-top: 3em;
}

.footer-section .hr{
    width: 100vw;
    justify-self: center;
    margin-top: 2em;
    border: 1px solid rgb(141, 122, 96);
    border-bottom: none;
    margin-bottom: -1em;
    display: none;
}

.footer .slink{
    padding-left: 2rem;
    margin-top: 1rem;
}

 .span{
    color: rgb(141, 122, 96);
    font-size: 0.9em;
    margin-top: 3em;
}

.ftimg {
    width: 7vw;
    vertical-align: middle;
    background: none;
}

.footer{
    bottom: 0px;
    background: rgba(29, 28, 28, 0.99);
    color: white;
    display: grid;
    gap: 10px;
    width: 100vw;
    grid-template-columns:repeat(4, auto);
    margin-left: 3.5em;
}

.footer .footer-item {
    padding: 7px;
    text-align: left;

}

.footer .h3 {
    text-align: left;
    color: rgb(141, 122, 96);
}

.footer a{
    color: white;
}

.footer a:hover{
    color: rgb(141, 122, 96);
}

/* .footer a:visited{
    color: rgb(141, 122, 96);
} */

.footer a:active{
    color: rgb(141, 122, 96);
}

.footer i {
    font-size: 20px;
    color: white;
}

.fa-instagram:hover { 
    color: rgb(141, 122, 96);  
}


.fa-tiktok:hover { 
    color: rgb(141, 122, 96);
}

.fa-tiktok {
    transition: 0.25s;  
}

.fa-instagram {
    transition: 0.25s;  
}

.fa-whatsapp{
    transition: 0.25s;
}

.fa-whatsapp:hover {
    color: rgb(141, 122, 96);
}


/* Responsiveness */

@media (max-width:599px) {

    *{
        text-decoration: none;
        list-style: none;
        overflow-x: clip;
        /* outline: 1px solid red !important; */
        box-sizing: border-box;
        max-width: 100%;
        /* justify-content: center; */
        /* align-items: center; */
        margin-left: auto;
        margin-right: auto;
    }

     ::-webkit-scrollbar{
        display: none;
    }

   .ftimg {
        width: 25vw;
        vertical-align: middle; 
    }

    .footer{
        bottom: 0px;
        background: rgba(29, 28, 28, 0.99);
        color: white;
        display: grid;
        gap: 2em;
        width: 99vw;
        grid-template-columns:repeat(1, auto);
        margin-left: 0em;
        text-align: center;
        justify-items: center;
    }

    .footer .footer-item {
        padding: 7px;
        text-align: center;

    }

    .footer .h3 {
        text-align: center;
        color: rgb(141, 122, 96);
        margin-left: 0;

    }

    .footer a{
        color: white;
    }

    .footer a:hover{
        color: rgb(141, 122, 96);
    }

    .footer i {
        font-size: 100%;
        color: white;
        line-height: 1.5;
    }

    .footer .slink{
        padding-left: 0;
    }

    .footer-section .hr{
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }

     .span{
         width: 90vw;
        font-size: 0.8em;
        justify-self: center;
    }

    .navbar .navli {
        display: none;
    }

   .navbar {
        justify-content: right;
        height: 6.5vh;
        z-index: 1001;
    }

    .navbar a{
        width: 50vw;
    }

    .logo{
        width: 25vw;
        align-self: center;
        margin-left: 0em;
    }

    .fa-bars {
        font-size: 1.5em;
        color: white;
        display: block;
        font-weight: 600;
        position: fixed;
        right: 5%;
        align-self: center;
        justify-self: center;
        margin-top: -0.5em;
    }

    .Home-photo img{
        opacity: 40%;
        height: 450px;
    }

    .Home-photo h1{
        position: absolute;
        font-size: 150%;
        margin-left: 7vw;
        margin-top: 2em;
        font-weight: 200;
    }

    .second-section-div2{
        grid-template-columns: repeat(1, 50vw);
        gap: 1.5em;
        margin-top: 4em;
        background: rgb(54, 54, 54);
        width: 90vw;
        justify-self: center;
        margin-left: 0em;
        margin-right: 0em;
        height: fit-content;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 1.3em;
    }

    .footer-section .hr{
        width: 50vw;
    }

    .flex-box{
        height: 52vh;
        margin-top: 4em;
        background-image: url(Images-logos/magnific__exquisite-whisky-drinks-and-wine-bottle-plate-of-c__39686.png);
        background-size: 100% 100%;
        background-blend-mode: overlay;
        background-repeat: no-repeat;
    }

    .flex-box h1{
        font-size: 100%;
        margin-left: 3%;
    }

    .flex-box hr{
        border: 2px solid white;
        height: 40vh;
    }

    .flex-box h4{
        margin-top: -1%;
        font-size: 75%;
    }

    .flex-box span{
        color: rgb(141, 122, 96);
    }

    .flex-box img{
        display: none;
    }

    .overlayy{
        background: rgba(0,0,0,0.7);
        height: 60vh;
    }

    h4{
        text-align: center;
        font-weight: lighter;
        margin-top: 2em;
        /* margin-bottom: 5%; */
        font-size: 90%;
    }

.menuu h2{
        text-align: center;
        font-weight: lighter;
        /* color: rgb(141, 122, 96); */
        margin-bottom: 20%;
        margin-top: 20%;
        background: rgb(141, 122, 96);
        width: 95vw;
        justify-self: center;
        font-size: 100%;
    }

    .menuu h3{
        border-bottom: 1px solid rgb(141, 122, 96);
        width: 60vw;
        color: white;
        font-weight: lighter;
        padding-left: 1%;
        margin-bottom: 2%;
        font-size: 100%;
        padding-top: 1px;
        padding-bottom: 1px;
        text-align: center;
        font-family: "Kings", cursive;
        justify-self: center;
    }

    .menuu p{
        font-size: 80%;
        color: rgb(141, 122, 96);
        margin-left: 10%;
        line-height: 2;
        margin-bottom: 2%;
        font-family: "Kings", cursive;
    }

    .menuu span{
        position: absolute;
        left: 80%;
        color: white;
        font-family: "Kings", cursive;
    }
}